{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ base_url }}/css/lightgallery.min.css">
{% endblock styles %}

{% block libs %}
    {{ super() }}
    <script src="{{ base_url }}/js/lightgallery.min.js"></script>
{% endblock libs %}

{% block scripts %}
    {{ super() }}
    <script src="{{ base_url }}/js/loadelements.js" defer></script>
{% endblock scripts %}

{% block announce %}
<div>
    test for announcement: <a href="https://rc.duke.edu/">https://rc.duke.edu/</a>
</div>
{% endblock %}
